@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html{
    scroll-behavior: smooth;
}

#inicio{
    /* background: */
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("img/fondo.jpg");
    background-size: cover;
    background-position: right right;
    height: 100vh;
}

#inicio .container header{
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;

}
#inicio .container header .container-nav{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
#inicio .container header .container-nav h1{
    text-align: center;
    color: #118267;
}
#inicio .container header .container-nav nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
#inicio .container header .container-nav nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}
#inicio .container header .container-nav nav ul a:hover{
    color: #118267;
}
#inicio .container header .container-nav .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}
#inicio .container header .container-nav .redes a:hover{
    color: #207F99;
}
#inicio .container .presentation{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#inicio .container .presentation .welcome{
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
#inicio .container .presentation h2{
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}
#inicio .container .presentation h2 span{
    font-size: 30px;
    color: #118267;
}
#inicio .container .presentation .description{
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}
#inicio .container .presentation a{
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}
#inicio .container .presentation a:hover{
    background-color: #118267;
}
/* SECTION ABOUT ME */
#about-me{
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}
#about-me .container-picture{
    max-width: 400px;
    margin-right: 80px;
}
#about-me .container-picture img{
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f3;
}
#about-me .about-me{
    margin: 0 40px;
}
#about-me .about-me .title-section{
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#about-me .about-me h2{
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}
#about-me .about-me h2 span{
    color: #118267;
}
#about-me .about-me h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
#about-me .about-me p{
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}
#about-me .about-me a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
}
#about-me .about-me a:hover{
    background-color: #207F99;
}
/* SKILLS */
.container-skills{
    background: linear-gradient(#69619e93, rgba(33,16,16,.8));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}
.container-skills .skill{
    max-width: 600px;
    margin: 30px auto;
}
.container-skills .skill .info{
    display: flex;
    justify-content: space-between;
}
.container-skills .skill .list{
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}
.container-skills .skill .barra{
    background-color: #000;
    width: 100%;
    height: 6px;
    margin: 10px 0;
}
.container-skills .skill .barra .barra-progreso1{
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso1 2s forwards;
}
.container-skills .skill .barra .barra-progreso2{
    background-color: #fff;
    width: 85%;
    height: 6px;
    animation: progreso2 2s forwards;
}
.container-skills .skill .barra .barra-progreso3{
    background-color: #fff;
    width: 75%;
    height: 6px;
    animation: progreso3 2s forwards;
}
.container-skills .skill .barra .barra-progreso4{
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso4 2s forwards;
}
.container-skills .skill .barra .barra-progreso5{
    background-color: #fff;
    width: 70%;
    height: 6px;
    animation: progreso5 2s forwards;
}
.container-skills .skill .barra .barra-progreso6{
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso6 2s forwards;
}
.container-skills .skill .barra .barra-progreso7{
    background-color: #fff;
    width: 75%;
    height: 6px;
    animation: progreso7 2s forwards;
}

@keyframes progreso1{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}

@keyframes progreso2{
    0%{
        width: 0;
    }
    100%{
        width: 60%;
    }
}
@keyframes progreso3{
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}
@keyframes progreso4{
    0%{
        width: 0;
    }
    100%{
        width: 60%;
    }
}
@keyframes progreso5{
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}
@keyframes progreso6{
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}
/* @keyframes progreso7{
    0%{
        width: 0;
    }
    100%{
        width: 75%;
    }
} */
/* SECTION PORTFOLIO */
#portfolio {
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}
#portfolio .titulo-seccion{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#portfolio .fila{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
#portfolio .fila .proyecto{
    max-width: 450px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}
#portfolio .fila .proyecto img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}
#portfolio .fila .proyecto:hover img{
    filter: grayscale(0);
}
#portfolio .fila .proyecto .info{
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    color: #ff5000;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}
#portfolio .fila .proyecto:hover .info{
    opacity: 1;
    bottom: 0;
}

.button-certificaiones{
    text-align: center;
    max-width: 1400px;
    max-height: 800px;

}
.button-certificaiones a{
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #000000;
    background-color: #118267;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}
.button-certificaiones a:hover{
    background-color: #b6ddd5;
    color: #000000;
}

/* SECTION CONTAC */
/* #contacto{
    padding: 100px 15px;
}
#contacto .title-section{
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #000;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#contacto .container-form{
    max-width: 1100px;
    margin: auto;
}
#contacto .container-form .fila{
    margin-bottom: 15px;
}
#contacto .container-form .mitad{
    display: flex;
    justify-content: space-between;
}
#contacto .container-form input,
#contacto .container-form textarea{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}
#contacto .container-form .mitad input{
    width: 48%;
}
#contacto .container-form .input-full{
    width: 100%;

}
#contacto .btn-enviar{
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
}
#contacto .btn-enviar:hover{
    background-color: #207F99;
    color: #fff;
} */

footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
footer a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 25px;
}
/* SECTION respponsive */
@media screen and  (max-width:800px){
    .redes{
        display: none;
    }
    nav{
        display: none;
    }
    nav.responsvie{
        display: block;
        background-color: #000;
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul{
        display: block !important;
        text-align: center;

    }
    nav.responsive ul li{
        margin: 5px 0;
    }
    #icon-nav{
        display: block;
    }
}